---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Astro"
  seoTitle="Tommy Stumps LLC | About Page"
  seoDescription="About what we do"
>
  <section class="mx-auto px-4" id="home">
		About Page
  </section>
</MainLayout>