---
import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import stump from '../images/stump-19-min.png'
---

<MainLayout
  title="Astro"
  seoTitle="Tommy Stumps LLC | Gallery"
  seoDescription="Call the experts for stump removal of any size"
>
  <section class="mx-auto px-4 py-10">
    
   	<h1 class="text-4xl font-black uppercase text-center">Our Work</h1>
    
    </div>  
  </section>
</MainLayout>