---
import Hero from "../components/Hero.astro";
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout
  title="Astro"
  seoTitle="Tommy Stumps LLC | Home Page"
  seoDescription="Call the experts for stump removal of any size"
>
  <section class="mx-auto px-4 overflow-hidden">
    <div class="w-[1400px] h-[1400px] -z-10 rounded-full bg-neutral-100 absolute -top-[700px] -left-[1100px] max-md:-top-[600px] max-md:-left-[800px] max-md:w-[1200px] max-md:h-[1100px] bg-gradient-to-r from-green-200 to-green-50"/>
    <!-- <div class="w-[500px] h-[500px] -z-10 rounded-full bg-neutral-100 absolute -bottom-[200px] -right-[600px] max-md:-top-[600px] max-md:-left-[800px] max-md:w-[1200px] max-md:h-[1100px] bg-gradient-to-l from-green-200 to-green-50"/> -->
    
		<Hero />
  </section>
</MainLayout>