---
import Hero from "../components/Hero.astro";
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout
  title="Astro"
  seoTitle="Tommy Stumps LLC | Home Page"
  seoDescription="Call the experts for stump removal of any size"
>
  <section class="mx-auto px-4" id="home">
		<Hero />
  </section>
</MainLayout>