---
import { Icon } from 'astro-icon'
---

<footer class='bg-black py-7 max-sm:px-4 px-10 w-full flex items-center justify-between'>
  <p class='text-center text-xs text-gray-400 '>Copyright &copy; 2023 Tommy Stumps LLC. All rights reserved.</p>
  <a href="https://m.facebook.com/thomas.ellsmore.7">
    <Icon pack="mdi" name="facebook" class="max-sm:w-6 w-8 text-gray-300 transition duration-300 hover:text-white" />
  </a>
</footer>