---
import { Image } from "astro:assets";
import logo from '../images/logo.png'
---

<article class="flex flex-col md:flex-row items-center md:gap-2 pt-10 justify-between relative"> 
  <div class="flex flex-col gap-8 max-md:items-center">
    <h1 class="md:leading-snug lg:leading-snug leading-tight lg:text-6xl md:text-5xl max-md:text-center text-5xl font-black font-heading animate-moveBanner">Keep Your Property Looking its Best</h1>
    <p class="text-xl transition animate-moveBanner">
      Locally owned Tommy Stumps, LLC will keep your property attractive and safe with professional tree services. We specialize in competitively priced <strong>stump removal</strong>, <strong>cleanup</strong> and <strong>dirt restoration</strong> services. We will come to your location to bid on the project and keep your property protected while we work. 
    </p>
    <span class="font-bold text-xl animate-moveBanner">FREE estimate.</span>
    <button class="bg-black cursor-pointer transition hover:bg-neutral-700 active:bg-black text-neutral-100 w-44 px-4 py-2 text-2xl rounded-lg animate-moveBanner font-bold tracking-wide"><a href="/contact">Contact Us</a></button>
  </div>
  <Image src={logo} alt="a tree stump" class="w-[50%] max-md:w-full max-md:-mt-5 animate-moveBanner" /> 
</article>
  


